[defaults]
inventory = inventory/hosts.yml
interpreter_python = auto_silent
remote_user = lazergreen
private_key_file = ~/.ssh/id_ed25519
stdout_callback = default
result_format = yaml
verbosity = 0

[privilege_escalation]

become = true
become_method = sudo
become_ask_pass = true

[ssh_connection]
pipelining = true
